.tagline {
    color: var(--primary);
    font-size: 14px;
    margin-bottom: var(--gap);
    text-transform: uppercase;
    text-align: center;
}

.title {
    font-weight: 700;
    font-size: 34px;
    text-align: center;
    color: var(--text-color);
}

@media screen and (max-width: $mobile) {
    .title {
        font-size: 24px;
    }
}