//responsive
$desktop: 1300px;
$tablet: 1024px;
$tablet-portrait: 768px;
$mobile: 480px;

:root {
  // Spacing
  --container-width: 1240px;
  --gap: 20px;
  --gutter: 20px;
  --gap-section: 40px;
  --gap-content: 10px;
  --gap-six: 6px;
  --gap-margin-tablet: 30px;

  /* Colours */
  --primary: #ff7d6d;
  --text-color: #00274b;

  --blue: #3eb0ef;
  --purple: #ad26b4;
  --red: #f05230;
  --darkgray: #171515;
  --midgray: #738a94;
  --lightgrey: #c5d2d9;
  --whitegray: #e5eff5;
  --pink: #fa3a57;
  --brown: #a3821a;
  --dark-bg: #020b1a;
  --yellow-sun: #fecd35;
  --coffee: #D0BB94;
  //Layout
  --gutter: 15px;

  //fonts
  --font-raleway: "Raleway", sans-serif;
  --font-grotesque: 'Darker Grotesque', sans-serif;
  ;

  --header-height: 250px;


}

@media screen and (max-width: 1240px) {
  :root {
    --container-width: 940px;
  }
}

@media screen and (max-width: $tablet) {
  :root {
    --container-width: 600px;
  }
}

@media screen and (max-width: 600px) {
  :root {
    --container-width: 100%;
  }
}